In [1]:
import pandas as pd
import numpy as np

In [2]:
df =pd.read_pickle("df1.pickle")

In [3]:
df.head()

                park_id  clc_code     area_code
0         hj_+49*809*01     111.0  084355002016
1           hj_+49*822*     121.0  096740221221
2  hj_+49*822*006617826     111.0  160765054087
3   hj_+49*822*02863001     121.0  096630000000
4  hj_+49*822*052751601     112.0  095650000000

In [4]:
df["area_code"]=df["area_code"].astype("category")
df["area_code"]=df["area_code"].astype("category")

In [5]:
dt=pd.read_pickle("Data_after_temp.pickle")

In [6]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105131 entries, 30 to 2911681
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   evse_id                 object
 1   datetime_start          datetime64[ns]
 2   datetime_stop           datetime64[ns]
 3   Charging_Started        int64
 4   Charging_Stop           int64
 5   city                    object
 6   park_id                 object
 7   latitude                float64
 8   longitude               float64
 9   postal_code             int64
 10  TD                      timedelta64[ns]
 11  Charging_Time_in_min    float64
 12  Charging_Time_in_hours  float64
 13  year                    int64
 14  month                   int64
 15  day                     int64
 16  day_of_week_name_Start  object
 17  Precipitation           float64
 18  Temperature             float64
dtypes: datetime64[ns](2), float64(6), int64(6), object(4), timedelta64[ns](1)
memory usage: 321.2+ MB

In [7]:
dff = pd.merge(df,dt,on="park_id",how="inner")

In [8]:
dff

,park_id,clc_code,area_code,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,latitude,...,postal_code,TD,Charging_Time_in_min,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,112.0,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:00:13.058,1,0,Kremmen,52.7596,...,16766,-1 days +23:59:59.689000,1439.983333,23.999722,2019,12,17,Tuesday,0.0,9.566667
1,hj_31c455b8-420e-46af-bce6-436b65ccc416,112.0,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:01:16.290,1,0,Kremmen,52.7596,...,16766,0 days 00:01:02.921000,1.033333,0.017222,2019,12,17,Tuesday,0.0,9.566667
2,hj_31c455b8-420e-46af-bce6-436b65ccc416,112.0,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:58:30.703,1,0,Kremmen,52.7596,...,16766,0 days 00:58:17.334000,58.283333,0.971389,2019,12,17,Tuesday,0.0,9.566667
3,hj_31c455b8-420e-46af-bce6-436b65ccc416,112.0,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:00:13.058,1,0,Kremmen,52.7596,...,16766,-1 days +23:01:44.706000,1381.733333,23.028889,2019,12,17,Tuesday,0.0,9.566667
4,hj_31c455b8-420e-46af-bce6-436b65ccc416,112.0,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:01:16.290,1,0,Kremmen,52.7596,...,16766,-1 days +23:02:47.938000,1382.783333,23.046389,2019,12,17,Tuesday,0.0,9.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940929,sl_743294,121.0,034040000000,sl_23896208,2020-11-30 17:05:01.000,2020-11-30 23:01:27.000,1,0,Taunusstein-Wehen,50.1564,...,65232,0 days 05:56:26,356.433333,5.940556,2020,11,30,Monday,0.0,-2.233333
1940930,sl_743294,121.0,034040000000,sl_23896208,2020-11-30 22:47:46.000,2020-11-30 12:33:56.000,1,0,Taunusstein-Wehen,50.1564,...,65232,-1 days +13:46:10,826.166667,13.769444,2020,11,30,Monday,0.0,-3.633333
1940931,sl_743294,121.0,034040000000,sl_23896208,2020-11-30 22:47:46.000,2020-11-30 16:47:53.000,1,0,Taunusstein-Wehen,50.1564,...,65232,-1 days +18:00:07,1080.116667,18.001944,2020,11,30,Monday,0.0,-3.633333
1940932,sl_743294,121.0,034040000000,sl_23896208,2020-11-30 22:47:46.000,2020-11-30 17:43:07.000,1,0,Taunusstein-Wehen,50.1564,...,65232,-1 days +18:55:21,1135.350000,18.922500,2020,11,30,Monday,0.0,-3.633333
1940933,sl_743294,121.0,034040000000,sl_23896208,2020-11-30 22:47:46.000,2020-11-30 23:01:27.000,1,0,Taunusstein-Wehen,50.1564,...,65232,0 days 00:13:41,13.683333,0.228056,2020,11,30,Monday,0.0,-3.633333

In [9]:
dff['clc_code']=dff['clc_code'].astype(int)

In [10]:
dff['clc_code'] = dff['clc_code'].map({
                                          111:"Urban",
                                          112:"Suburban",
                                          141:"Suburban",
                                          142:"Suburban",
                                          121:"Industrial",
                                          123:"Industrial",
                                          124:"Industrial",
                                          131:"Industrial",
                                          133:"Industrial",
                                          122:"Uninhabited",
                                          211:"Uninhabited",
                                          221:"Uninhabited",
                                          222:"Uninhabited",
                                          231:"Uninhabited",
                                          242:"Uninhabited",
                                          243:"Uninhabited",
                                          311:"Uninhabited",
                                          312:"Uninhabited",
                                          313:"Uninhabited",
                                          321:"Uninhabited",
                                          322:"Uninhabited",
                                          324:"Uninhabited",
                                          331:"Uninhabited",
                                          411:"Uninhabited",
                                          412:"Uninhabited",
                                          132:"NonFitting",
                                          511:"NonFitting",
                                          512:"NonFitting",
                                          522:"NonFitting",
                                          523:"NonFitting"
                                    })

In [11]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940934 entries, 0 to 1940933
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   park_id                 object
 1   clc_code                object
 2   area_code               category
 3   evse_id                 object
 4   datetime_start          datetime64[ns]
 5   datetime_stop           datetime64[ns]
 6   Charging_Started        int64
 7   Charging_Stop           int64
 8   city                    object
 9   latitude                float64
 10  longitude               float64
 11  postal_code             int64
 12  TD                      timedelta64[ns]
 13  Charging_Time_in_min    float64
 14  Charging_Time_in_hours  float64
 15  year                    int64
 16  month                   int64
 17  day                     int64
 18  day_of_week_name_Start  object
 19  Precipitation           float64
 20  Temperature             float64
dtypes: category(1), datetime64[ns](2), float64(6), int64(6), object(5), timedelta64[ns](1)
memory usage: 314.8+ MB

In [12]:
dff["area_code"]=dff["area_code"].astype("category")

In [13]:
d=pd.read_pickle("final_area_code.pickle")

In [14]:
d["area_code"]=d["area_code"].astype("category")

In [18]:
d= d[["Population Density","area_code"]].head(10)

In [19]:
print(d.to_latex(index=False))

\begin{tabular}{rl}
\toprule
 Population Density &    area\_code \\
\midrule
        4117.841593 & 110000000000 \\
        2446.401091 & 020000000000 \\
        4777.038944 & 091620000000 \\
        2686.015160 & 053150000000 \\
        3074.302283 & 064120000000 \\
        3067.144166 & 081110000000 \\
        2860.388207 & 051110000000 \\
        1991.756212 & 147130000000 \\
        2095.579067 & 059130000000 \\
        2770.561947 & 051130000000 \\
\bottomrule
\end{tabular}

In [17]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2055 entries, 0 to 2054
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Post code           2055 non-null   float64
 1   Area in km2         2055 non-null   float64
 2   overall             2055 non-null   object
 3   Population Density  2055 non-null   float64
 4   area_code           2055 non-null   category
dtypes: category(1), float64(3), object(1)
memory usage: 164.9+ KB

In [18]:
df_final =pd.merge(dff,d,how="outer",on="area_code")

In [19]:
df_final.isna().sum()

park_id                     1819
clc_code                    1819
area_code                      0
evse_id                     1819
datetime_start              1819
datetime_stop               1819
Charging_Started            1819
Charging_Stop               1819
city                        1819
latitude                    1819
longitude                   1819
postal_code                 1819
TD                          1819
Charging_Time_in_min        1819
Charging_Time_in_hours      1819
year                        1819
month                       1819
day                         1819
day_of_week_name_Start      1819
Precipitation               1819
Temperature                 1819
Post code                 128868
Area in km2               128868
overall                   128868
Population Density        128868
dtype: int64

In [21]:
df_final.drop(columns=['Post code ','Area in km2 ','overall','TD','Charging_Time_in_min'],axis = 1,inplace= True)

In [22]:
df_final

,park_id,clc_code,area_code,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,latitude,longitude,postal_code,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature,Population Density
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,13.0239,16766.0,23.999722,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964
1,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,13.0239,16766.0,0.017222,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964
2,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:58:30.703,1.0,0.0,Kremmen,52.7596,13.0239,16766.0,0.971389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964
3,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,13.0239,16766.0,23.028889,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964
4,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,13.0239,16766.0,23.046389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942748,NaN,NaN,150845054470,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.386967
1942749,NaN,NaN,071415009069,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.636364
1942750,NaN,NaN,120615108328,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.953587
1942751,NaN,NaN,150905052445,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.132641
1942752,NaN,NaN,033545403021,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624.444444

In [23]:
dn1 =(df_final
 [["evse_id","city"]]
.groupby(["evse_id"]).
count()
.reset_index()
.rename(columns={"city":"Count_Charging"})
)

In [24]:
End_Data = pd.merge(df_final,dn1)

In [25]:
End_Data.isna().sum()

park_id                        0
clc_code                       0
area_code                      0
evse_id                        0
datetime_start                 0
datetime_stop                  0
Charging_Started               0
Charging_Stop                  0
city                           0
latitude                       0
longitude                      0
postal_code                    0
Charging_Time_in_hours         0
year                           0
month                          0
day                            0
day_of_week_name_Start         0
Precipitation                  0
Temperature                    0
Population Density        128868
Count_Charging                 0
dtype: int64

In [26]:
End_Data.rename(columns={'Population Density': 'pd'},inplace=True)

In [27]:
End_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1940934 entries, 0 to 1940933
Data columns (total 21 columns):
 #   Column                  Dtype
---  ------                  -----
 0   park_id                 object
 1   clc_code                object
 2   area_code               object
 3   evse_id                 object
 4   datetime_start          datetime64[ns]
 5   datetime_stop           datetime64[ns]
 6   Charging_Started        float64
 7   Charging_Stop           float64
 8   city                    object
 9   latitude                float64
 10  longitude               float64
 11  postal_code             float64
 12  Charging_Time_in_hours  float64
 13  year                    float64
 14  month                   float64
 15  day                     float64
 16  day_of_week_name_Start  object
 17  Precipitation           float64
 18  Temperature             float64
 19  pd                      float64
 20  Count_Charging          int64
dtypes: datetime64[ns](2), float64(12), int64(1), object(6)
memory usage: 325.8+ MB

In [28]:
End_Data["postal_code"]=End_Data["postal_code"].astype("category")

In [29]:
End_Data["Charging_Started"]=End_Data["Charging_Started"].astype("category")

In [30]:
End_Data["Charging_Stop"]=End_Data["Charging_Stop"].astype("category")

In [31]:
End_Data["year"]=End_Data["year"].astype("category")

In [32]:
End_Data["month"]=End_Data["month"].astype("category")

In [33]:
End_Data["day"]=End_Data["day"].astype("category")

In [35]:
End_Data.isna().sum()

park_id                        0
clc_code                       0
area_code                      0
evse_id                        0
datetime_start                 0
datetime_stop                  0
Charging_Started               0
Charging_Stop                  0
city                           0
latitude                       0
longitude                      0
postal_code                    0
Charging_Time_in_hours         0
year                           0
month                          0
day                            0
day_of_week_name_Start         0
Precipitation                  0
Temperature                    0
pd                        128868
Count_Charging                 0
dtype: int64

In [36]:
End_Data.dropna()

,park_id,clc_code,area_code,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,latitude,...,postal_code,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature,pd,Count_Charging
0,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,16766.0,23.999722,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
1,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,16766.0,0.017222,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
2,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:00:13.369,2019-12-17 09:58:30.703,1.0,0.0,Kremmen,52.7596,...,16766.0,0.971389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
3,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:00:13.058,1.0,0.0,Kremmen,52.7596,...,16766.0,23.028889,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
4,hj_31c455b8-420e-46af-bce6-436b65ccc416,Suburban,120650165165,hj_DE*BLN*E*174060033,2019-12-17 09:58:28.352,2019-12-17 09:01:16.290,1.0,0.0,Kremmen,52.7596,...,16766.0,23.046389,2019.0,12.0,17.0,Tuesday,0.0,9.566667,158.737964,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940929,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:02:00.000,1.0,0.0,Niestetal,51.3144,...,34266.0,20.967778,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940930,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:28:29.000,1.0,0.0,Niestetal,51.3144,...,34266.0,21.409167,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940931,sl_23897386,Urban,051120000000,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 19:55:30.000,1.0,0.0,Niestetal,51.3144,...,34266.0,0.859444,2021.0,8.0,7.0,Saturday,0.0,8.033333,2142.121993,331
1940932,sl_23897386,Urban,051120000000,sl_23901984,2021-08-10 15:29:47.000,2021-08-10 16:57:44.000,1.0,0.0,Niestetal,51.3144,...,34266.0,1.465833,2021.0,8.0,10.0,Tuesday,0.0,8.033333,2142.121993,331
1940933,sl_23897386,Urban,051120000000,sl_23901984,2021-08-11 11:21:37.000,2021-08-11 20:13:12.000,1.0,0.0,Niestetal,51.3144,...,34266.0,8.859722,2021.0,8.0,11.0,Wednesday,0.0,8.033333,2142.121993,331

In [37]:
End_Data.to_pickle("End_Data.pickle")

In [38]:
End_Data.to_csv("End_Data.csv")