In [1]:
import pandas as pd
df =pd.read_pickle("Data_after_ppt.pickle")

In [2]:
df

,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,park_id,latitude,longitude,postal_code,TD,Charging_Time_in_min,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation
30,hj_AT*HTB*E100011,2019-02-10 10:28:53.836,2019-02-10 12:54:11.750,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 02:25:17.914000,145.283333,2.421389,2019,2,10,Sunday,0.0
31,hj_AT*HTB*E100011,2019-02-15 08:33:09.428,2019-02-15 12:37:18.549,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 04:04:09.121000,244.150000,4.069167,2019,2,15,Friday,0.0
32,hj_AT*HTB*E100011,2019-02-19 14:12:56.548,2019-02-19 18:55:34.738,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 04:42:38.190000,282.633333,4.710556,2019,2,19,Tuesday,0.0
33,hj_AT*HTB*E100011,2019-02-23 09:05:08.119,2019-02-23 14:41:49.291,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 05:36:41.172000,336.683333,5.611389,2019,2,23,Saturday,0.0
34,hj_AT*HTB*E100011,2019-02-25 11:32:44.019,2019-02-25 12:27:19.368,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 00:54:35.349000,54.583333,0.909722,2019,2,25,Monday,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911677,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:02:00.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,-1 days +20:58:04,1258.066667,20.967778,2021,8,7,Saturday,0.0
2911678,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:28:29.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,-1 days +21:24:33,1284.550000,21.409167,2021,8,7,Saturday,0.0
2911679,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 19:55:30.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 00:51:34,51.566667,0.859444,2021,8,7,Saturday,0.0
2911680,sl_23901984,2021-08-10 15:29:47.000,2021-08-10 16:57:44.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 01:27:57,87.950000,1.465833,2021,8,10,Tuesday,0.0
2911681,sl_23901984,2021-08-11 11:21:37.000,2021-08-11 20:13:12.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 08:51:35,531.583333,8.859722,2021,8,11,Wednesday,0.0

In [3]:
df.datetime_start.max()

Timestamp('2021-08-13 01:57:53')

In [4]:
import math


def distance(origin, destination):
    """
    Calculate the Haversine distance.

    Parameters
    ----------
    origin : tuple of float
        (lat, long)
    destination : tuple of float
        (lat, long)

    Returns
    -------
    distance_in_km : float

    Examples
    --------
    >>> origin = (48.1372, 11.5756)  # Munich
    >>> destination = (52.5186, 13.4083)  # Berlin
    >>> round(distance(origin, destination), 1)
    504.2
    """
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c

    return d

In [5]:
len(df.evse_id.unique())

2250

In [6]:
dt = pd.read_pickle("Temp.pickle")

In [16]:
dt = dt[["MESS_DATUM","44","102","15555"]]

In [17]:
print(dt.to_latex(index=False))

\begin{tabular}{lrrr}
\toprule
         MESS\_DATUM &   44 &  102 &  15555 \\
\midrule
2019-02-01 01:00:00 & -2.0 & -0.1 &    0.4 \\
2019-02-01 02:00:00 & -1.9 & -0.3 &   -0.8 \\
2019-02-01 03:00:00 & -2.0 & -0.6 &    1.6 \\
2019-02-01 04:00:00 & -1.4 & -0.5 &    1.4 \\
2019-02-01 05:00:00 & -1.1 & -0.4 &    0.4 \\
2019-02-01 06:00:00 & -1.1 & -0.2 &    3.2 \\
2019-02-01 07:00:00 & -1.0 & -0.3 &    2.2 \\
2019-02-01 08:00:00 & -0.8 & -0.2 &    0.8 \\
2019-02-01 09:00:00 & -0.8 & -0.1 &    1.5 \\
2019-02-01 10:00:00 & -0.5 & -0.1 &    1.6 \\
\bottomrule
\end{tabular}

In [8]:
dw = pd.read_csv("wethear.csv")

In [62]:
lat = df.latitude.iloc[0]
lang = df.longitude.iloc[0]

In [63]:
def wether_lat_long(dw):
    dk=dw.copy()
    dk["geo_1"]=dk.geoBreite.apply(lambda x:str(x)+" , " )
    dk["geo_2"]=dk.geoLaenge.apply(lambda x:str(x))
    dk["geo"]= dk["geo_1"]+dk["geo_2"]
    dk.drop(["geo_1","geo_2"],axis = 1)
    return dk

In [64]:
(dw
 [dw["geoBreite"]>lat-0.5]
 [dw["geoBreite"]<lat+0.5]
 [dw["geoLaenge"]>lang-0.5]
 [dw["geoLaenge"]<lang+0.5]
 .pipe(wether_lat_long)
)

<ipython-input-64-99d16c29b688>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (dw

,Stations_id,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland,geo_1,geo_2,geo
15,154,2005-03-01,2021-08-26,516,48.0197,12.2925,Amerang-Pfaffing,Bayern,"48.0197 ,",12.2925,"48.0197 , 12.2925"
86,856,1991-01-01,2021-08-26,551,47.8843,12.5404,Chieming,Bayern,"47.8843 ,",12.5404,"47.8843 , 12.5404"
113,1103,2006-10-01,2021-08-26,592,48.1003,11.9872,Ebersberg-Halbing,Bayern,"48.1003 ,",11.9872,"48.1003 , 11.9872"
333,3366,1955-01-01,2021-08-26,406,48.2790,12.5024,MÃ¼hldorf,Bayern,"48.279 ,",12.5024,"48.279 , 12.5024"
369,3679,2006-11-01,2021-08-26,518,47.6187,12.1665,Kiefersfelden-Gach,Bayern,"47.6187 ,",12.1665,"47.6187 , 12.1665"
407,4261,2006-03-01,2021-08-26,442,47.8753,12.1280,Rosenheim,Bayern,"47.8753 ,",12.128,"47.8753 , 12.128"
483,5111,2006-04-01,2021-08-26,560,48.0311,12.5396,Trostberg,Bayern,"48.0311 ,",12.5396,"48.0311 , 12.5396"
545,5941,2007-03-01,2021-08-26,686,47.6754,12.4698,Reit im Winkl,Bayern,"47.6754 ,",12.4698,"47.6754 , 12.4698"
586,7105,2005-06-01,2021-08-26,719,47.8350,12.6548,Siegsdorf-HÃ¶ll,Bayern,"47.835 ,",12.6548,"47.835 , 12.6548"

In [65]:
def wether_1(dw):
    dk=dw.copy()
    dk["geo_1"]=dk.latitude.apply(lambda x:str(x)+" , " )
    dk["geo_2"]=dk.longitude.apply(lambda x:str(x))
    dk["geo"]= dk["geo_1"]+dk["geo_2"]
    dk = dk.drop(["geo_1","geo_2"],axis = 1)
    return dk

In [66]:
def string_to_tup(s):
    a,b =s.split(" , ")
    return round(float(a),4),round(float(b),4)

In [67]:
def tup_(df):
    df["geo"] = df["geo"].apply(lambda x:string_to_tup(x))
    #dk = dk.drop(["geo_1","geo_2"],axis = 1)
    return df

In [68]:
G = lat, lang
def get_dist(df,b):
    df["distance"] = df["geo"].apply(lambda x: distance(x,b))
    return df

In [69]:
(dw
 [dw["geoBreite"]>lat-0.5]
 [dw["geoBreite"]<lat+0.5]
 [dw["geoLaenge"]>lang-0.5]
 [dw["geoLaenge"]<lang+0.5]
 .pipe(wether_lat_long)
 .pipe(tup_)
 .pipe(get_dist,G)
 .sort_values("distance",ascending = True)
 .head(3)
)

<ipython-input-69-4845826b5ae4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  (dw

,Stations_id,von_datum,bis_datum,Stationshoehe,geoBreite,geoLaenge,Stationsname,Bundesland,geo_1,geo_2,geo,distance
86,856,1991-01-01,2021-08-26,551,47.8843,12.5404,Chieming,Bayern,"47.8843 ,",12.5404,"(47.8843, 12.5404)",15.174340
407,4261,2006-03-01,2021-08-26,442,47.8753,12.1280,Rosenheim,Bayern,"47.8753 ,",12.128,"(47.8753, 12.128)",15.604028
15,154,2005-03-01,2021-08-26,516,48.0197,12.2925,Amerang-Pfaffing,Bayern,"48.0197 ,",12.2925,"(48.0197, 12.2925)",16.191238

In [70]:
station_list = list(dw
                 [dw["geoBreite"]>lat-0.5]
                 [dw["geoBreite"]<lat+0.5]
                 [dw["geoLaenge"]>lang-0.5]
                 [dw["geoLaenge"]<lang+0.5]
                 .pipe(wether_lat_long)
                 .pipe(tup_)
                 .pipe(get_dist,G)
                 .sort_values("distance",ascending = True)
                 .head(3)
                 .Stations_id.values
                )
sl = []
for i in station_list:
    sl.append(str(i))
sl=tuple(sl)

<ipython-input-70-d7e5eb4501b5>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  station_list = list(dw

In [71]:
def get_3_sts(G):
    station_list = list(dw
                 [dw["geoBreite"]>lat-0.5]
                 [dw["geoBreite"]<lat+0.5]
                 [dw["geoLaenge"]>lang-0.5]
                 [dw["geoLaenge"]<lang+0.5]
                 .pipe(wether_lat_long)
                 .pipe(tup_)
                 .pipe(get_dist,G)
                 .sort_values("distance",ascending = True)
                 .head(3)
                 .Stations_id.values
                )
    sl = []
    for i in station_list:
        sl.append(str(i))
    sl=tuple(sl)
    return sl

In [72]:
get_3_sts(G)

<ipython-input-71-dc63c198966d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  station_list = list(dw

('856', '4261', '154')

In [73]:
def round_lat_long(df):
    df["latitude"] = df["latitude"].apply(lambda x: round(x,4))
    df["longitude"] = df["longitude"].apply(lambda x: round(x,4))
    return df

In [74]:
def geo_filter(df_c1):
    return (df_c1
            [df_c1["latitude"]>46]
            [df_c1["latitude"]<56]
            [df_c1["longitude"]>5]
            [df_c1["longitude"]<15]
            )

In [75]:
def geo_filter1(df_c1):
    b=len(df_c1)
    dk= (df_c1
    [df_c1["latitude"]>46]
    [df_c1["latitude"]<56]
    [df_c1["longitude"]>5]
    [df_c1["longitude"]<15]
    )
    a = list(dk.evse_id.unique())
    c= df_c1[df_c1.evse_id.isin(a)]
    d=len(c)
    print(b,d)
    return c

In [76]:
df_c1= df.copy()
df_c1 = (
     df_c1
    .pipe(geo_filter1)
    .pipe(round_lat_long)
    #.pipe(wether_1)
    #.pipe(tup_)
    .groupby(["evse_id"])
    .mean()
    .pipe(wether_1)
    .pipe(tup_)
    #["geo"]
    .reset_index()
    [["evse_id","geo"]]
)

2105131 2105131

In [77]:
df_c1["Weather_Stations"] = df_c1.geo.apply(lambda x: get_3_sts(x))

<ipython-input-71-dc63c198966d>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  station_list = list(dw

In [78]:
df_c1

                    evse_id                 geo    Weather_Stations
0         hj_AT*HTB*E100011  (47.8772, 12.3372)    (856, 4261, 154)
1        hj_AT*HTB*E1000630   (51.2633, 9.9765)   (3366, 1103, 154)
2     hj_DE*BLN*E*174060031  (52.7571, 13.0286)  (3366, 1103, 5111)
3     hj_DE*BLN*E*174060033  (52.7596, 13.0239)  (3366, 1103, 5111)
4     hj_DE*BLN*E*645460001   (49.9795, 8.5662)   (1103, 3366, 154)
...                     ...                 ...                 ...
2245            sl_23901972  (48.8103, 10.0309)   (1103, 4261, 154)
2246            sl_23901976   (49.4407, 7.7093)   (1103, 4261, 154)
2247            sl_23901980     (47.75, 8.9553)  (1103, 4261, 3679)
2248            sl_23901982   (51.3117, 9.4936)   (1103, 3366, 154)
2249            sl_23901984   (51.3144, 9.5549)   (1103, 3366, 154)

[2250 rows x 3 columns]

In [79]:
def rm_nan(x):
    a,b =x
    if str(a)=="nan":
        return 1
    else:
        return 0

In [80]:
df_c1["remove"]=df_c1.geo.apply(lambda x:rm_nan(x))

In [81]:
df_c3 = df_c1[df_c1["remove"]==0].drop(["remove"],axis=1)

In [82]:
df_c3

                    evse_id                 geo    Weather_Stations
0         hj_AT*HTB*E100011  (47.8772, 12.3372)    (856, 4261, 154)
1        hj_AT*HTB*E1000630   (51.2633, 9.9765)   (3366, 1103, 154)
2     hj_DE*BLN*E*174060031  (52.7571, 13.0286)  (3366, 1103, 5111)
3     hj_DE*BLN*E*174060033  (52.7596, 13.0239)  (3366, 1103, 5111)
4     hj_DE*BLN*E*645460001   (49.9795, 8.5662)   (1103, 3366, 154)
...                     ...                 ...                 ...
2245            sl_23901972  (48.8103, 10.0309)   (1103, 4261, 154)
2246            sl_23901976   (49.4407, 7.7093)   (1103, 4261, 154)
2247            sl_23901980     (47.75, 8.9553)  (1103, 4261, 3679)
2248            sl_23901982   (51.3117, 9.4936)   (1103, 3366, 154)
2249            sl_23901984   (51.3144, 9.5549)   (1103, 3366, 154)

[2250 rows x 3 columns]

In [83]:
weather_station_unique =list(df_c3.Weather_Stations.unique())

In [84]:
weather_station_unique

[('856', '4261', '154'),
 ('3366', '1103', '154'),
 ('3366', '1103', '5111'),
 ('1103', '3366', '154'),
 ('1103', '4261', '154'),
 ('3366', '5111', '1103'),
 ('1103', '4261', '3679'),
 ('1103', '3366', '4261'),
 ('3366', '5111', '154'),
 ('1103', '4261', '3366'),
 ('3679', '1103', '4261'),
 ('1103', '3679', '4261'),
 ('1103', '154', '3366'),
 ('3679', '4261', '1103'),
 ('4261', '154', '1103'),
 ('4261', '154', '856'),
 ('7105', '856', '5111'),
 ('4261', '154', '3679'),
 ('3366', '5111', '7105'),
 ('4261', '1103', '154'),
 ('4261', '3679', '154'),
 ('3679', '5941', '4261'),
 ('5941', '856', '7105'),
 ('4261', '3679', '1103'),
 ('1103', '154', '4261'),
 ('7105', '856', '5941')]

In [85]:
def create1(ax):
    ax =list(ax)
    s= ""
    for i in ax:
        s+=i+"_"
    ax.append("MESS_DATUM")
    dk =dt.copy()
    dk[s]=dk[ax].mean(axis =1)
    ax.append(s)
    return dk[ax[-2:]]

In [86]:
def create_sudo_temp(weather_station_unique):
    d1=create1(weather_station_unique[0])
    for i in weather_station_unique[1:]:
        d2 = create1(i)
        d1 = pd.merge(d1,d2,how="outer")
    return d1

In [87]:
dts = create_sudo_temp(weather_station_unique)

<ipython-input-85-78506fa9e0e5>:8: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  dk[s]=dk[ax].mean(axis =1)

In [88]:
dts

,MESS_DATUM,856_4261_154_,3366_1103_154_,3366_1103_5111_,1103_3366_154_,1103_4261_154_,3366_5111_1103_,1103_4261_3679_,1103_3366_4261_,3366_5111_154_,...,7105_856_5111_,4261_154_3679_,3366_5111_7105_,4261_1103_154_,4261_3679_154_,3679_5941_4261_,5941_856_7105_,4261_3679_1103_,1103_154_4261_,7105_856_5941_
0,2019-02-01 01:00:00,-0.533333,-0.666667,-1.500000,-0.666667,-0.366667,-1.500000,-0.666667,-1.500000,-0.666667,...,-1.400000,0.166667,-1.533333,-0.366667,1.666667e-01,-2.700000,-3.433333,-0.666667,-0.366667,-3.433333
1,2019-02-01 02:00:00,-0.033333,0.266667,-0.800000,0.266667,0.666667,-0.800000,0.066667,-0.766667,-0.100000,...,-1.100000,0.766667,-1.133333,0.666667,7.666667e-01,-2.066667,-2.866667,0.066667,0.666667,-2.866667
2,2019-02-01 03:00:00,-0.033333,-0.500000,-0.833333,-0.500000,0.033333,-0.833333,0.000000,-0.833333,-0.500000,...,0.366667,0.333333,-0.100000,0.033333,3.333333e-01,-1.833333,-1.466667,0.000000,0.033333,-1.466667
3,2019-02-01 04:00:00,-0.533333,-0.866667,-1.266667,-0.866667,-0.500000,-1.266667,-0.166667,-1.233333,-0.933333,...,-0.633333,0.166667,-1.000000,-0.500000,1.666667e-01,-2.133333,-2.533333,-0.166667,-0.500000,-2.533333
4,2019-02-01 05:00:00,-0.866667,-1.000000,-1.400000,-1.000000,-0.566667,-1.400000,-0.200000,-1.266667,-1.200000,...,-0.866667,0.000000,-1.066667,-0.566667,-9.251859e-18,-2.200000,-2.666667,-0.200000,-0.566667,-2.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20418,2021-05-31 19:00:00,13.433333,13.166667,13.333333,13.166667,13.400000,13.333333,13.300000,13.466667,13.433333,...,13.100000,13.400000,13.233333,13.400000,1.340000e+01,13.300000,12.833333,13.300000,13.400000,12.833333
20419,2021-05-31 20:00:00,10.633333,10.700000,11.900000,10.700000,10.766667,11.900000,11.266667,11.300000,11.133333,...,11.633333,10.500000,11.533333,10.766667,1.050000e+01,10.900000,10.833333,11.266667,10.766667,10.833333
20420,2021-05-31 21:00:00,9.766667,9.666667,10.633333,9.666667,9.966667,10.633333,10.333333,9.733333,9.833333,...,10.933333,9.533333,10.100000,9.966667,9.533333e+00,9.633333,10.066667,10.333333,9.966667,10.066667
20421,2021-05-31 22:00:00,8.366667,9.033333,10.200000,9.033333,9.000000,10.200000,9.533333,9.033333,9.000000,...,9.800000,8.333333,9.266667,9.000000,8.333333e+00,8.500000,8.800000,9.533333,9.000000,8.800000
20422,2021-05-31 23:00:00,7.433333,8.033333,9.433333,8.033333,8.200000,9.433333,8.833333,8.033333,8.233333,...,9.133333,7.633333,8.533333,8.200000,7.633333e+00,7.733333,7.833333,8.833333,8.200000,7.833333

In [89]:
def string_ws(x):
    a,b,c =x
    a =  str(a)
    b =  str(b)
    c =  str(c)
    k = a+"_"+b+"_"+c+"_"
    return k

In [90]:
df_c3["ws"] = df_c3.Weather_Stations.apply(lambda x:string_ws(x))

In [91]:
dict_evseid = dict(zip(df_c3.evse_id,df_c3.ws))

In [92]:
dict_evseid

{'hj_AT*HTB*E100011': '856_4261_154_',
 'hj_AT*HTB*E1000630': '3366_1103_154_',
 'hj_DE*BLN*E*174060031': '3366_1103_5111_',
 'hj_DE*BLN*E*174060033': '3366_1103_5111_',
 'hj_DE*BLN*E*645460001': '1103_3366_154_',
 'hj_DE*BLN*E*645460003': '1103_3366_154_',
 'hj_DE*BLN*E*748890007': '1103_4261_154_',
 'hj_DE*CON*E1000003': '3366_1103_154_',
 'hj_DE*CON*E1000009': '3366_1103_154_',
 'hj_DE*ISE*E00068': '1103_3366_154_',
 'hj_DE*ISE*E001126': '3366_1103_154_',
 'hj_DE*KWB*E*162250014': '3366_5111_1103_',
 'sl_23894320': '3366_1103_154_',
 'sl_23894326': '1103_4261_3679_',
 'sl_23894329': '3366_1103_154_',
 'sl_23894332': '3366_1103_154_',
 'sl_23894335': '3366_1103_154_',
 'sl_23894338': '3366_1103_154_',
 'sl_23894341': '1103_4261_154_',
 'sl_23894347': '3366_1103_154_',
 'sl_23894350': '3366_1103_154_',
 'sl_23894362': '1103_4261_154_',
 'sl_23894365': '1103_4261_154_',
 'sl_23894368': '1103_4261_154_',
 'sl_23894371': '1103_4261_154_',
 'sl_23894374': '1103_4261_154_',
 'sl_23894377': '1103_4261_154_',
 'sl_23894380': '1103_4261_154_',
 'sl_23894386': '1103_3366_154_',
 'sl_23894389': '3366_1103_154_',
 'sl_23894392': '3366_1103_154_',
 'sl_23894395': '3366_1103_154_',
 'sl_23894398': '3366_1103_154_',
 'sl_23894401': '3366_1103_154_',
 'sl_23894404': '3366_1103_154_',
 'sl_23894407': '3366_1103_154_',
 'sl_23894410': '3366_1103_5111_',
 'sl_23894413': '3366_1103_154_',
 'sl_23894416': '3366_1103_154_',
 'sl_23894419': '3366_1103_154_',
 'sl_23894422': '3366_1103_154_',
 'sl_23894425': '1103_4261_154_',
 'sl_23894428': '1103_4261_154_',
 'sl_23894431': '1103_3366_154_',
 'sl_23894434': '1103_4261_154_',
 'sl_23894437': '1103_4261_154_',
 'sl_23894443': '1103_4261_154_',
 'sl_23894446': '3366_1103_154_',
 'sl_23894452': '3366_1103_154_',
 'sl_23894455': '1103_4261_154_',
 'sl_23894458': '3366_1103_154_',
 'sl_23894461': '1103_4261_154_',
 'sl_23894464': '3366_1103_154_',
 'sl_23894467': '1103_4261_154_',
 'sl_23894470': '3366_1103_154_',
 'sl_23894473': '1103_4261_3679_',
 'sl_23894479': '1103_4261_154_',
 'sl_23894485': '1103_4261_154_',
 'sl_23894492': '1103_4261_154_',
 'sl_23894495': '1103_4261_154_',
 'sl_23894498': '1103_4261_154_',
 'sl_23894501': '1103_4261_154_',
 'sl_23894504': '1103_4261_154_',
 'sl_23894507': '1103_4261_154_',
 'sl_23894508': '1103_4261_154_',
 'sl_23894509': '1103_4261_154_',
 'sl_23894510': '1103_4261_154_',
 'sl_23894511': '1103_4261_154_',
 'sl_23894512': '1103_4261_3679_',
 'sl_23894513': '1103_4261_154_',
 'sl_23894514': '1103_4261_154_',
 'sl_23894515': '1103_4261_154_',
 'sl_23894516': '1103_4261_154_',
 'sl_23894518': '1103_4261_154_',
 'sl_23894519': '1103_4261_154_',
 'sl_23894520': '1103_4261_154_',
 'sl_23894521': '1103_4261_154_',
 'sl_23894522': '1103_4261_154_',
 'sl_23894523': '1103_4261_154_',
 'sl_23894524': '1103_4261_154_',
 'sl_23894525': '1103_4261_154_',
 'sl_23894526': '1103_4261_154_',
 'sl_23894527': '1103_4261_154_',
 'sl_23894528': '1103_4261_154_',
 'sl_23894529': '1103_4261_154_',
 'sl_23894530': '1103_4261_3679_',
 'sl_23894531': '1103_4261_154_',
 'sl_23894532': '1103_3366_154_',
 'sl_23894533': '1103_3366_154_',
 'sl_23894534': '1103_3366_154_',
 'sl_23894535': '1103_3366_154_',
 'sl_23894536': '1103_3366_154_',
 'sl_23894537': '1103_3366_154_',
 'sl_23894538': '3366_1103_154_',
 'sl_23894539': '3366_1103_154_',
 'sl_23894540': '3366_1103_154_',
 'sl_23894541': '3366_1103_154_',
 'sl_23894542': '3366_1103_154_',
 'sl_23894543': '3366_1103_154_',
 'sl_23894544': '3366_1103_154_',
 'sl_23894545': '3366_1103_154_',
 'sl_23894546': '3366_1103_154_',
 'sl_23894551': '1103_4261_154_',
 'sl_23894552': '1103_4261_154_',
 'sl_23894553': '1103_4261_154_',
 'sl_23894554': '1103_4261_154_',
 'sl_23894560': '1103_4261_154_',
 'sl_23894561': '1103_4261_154_',
 'sl_23894563': '1103_4261_154_',
 'sl_23894564': '1103_4261_154_',
 'sl_23894566': '1103_4261_154_',
 'sl_23894569': '1103_4261_154_',
 'sl_23894571': '1103_4261_154_',
 'sl_23894572': '1103_4261_154_',
 'sl_23894573': '1103_4261_154_',
 'sl_23894574': '1103_4261_154_',
 'sl_23894575': '1103_4261_154_',
 'sl_23894576': '1103_4261_154_',
 'sl_23894577': '1103_4261_154_',
 'sl_23894578': '1103_4261_154_',
 'sl_23894579': '1103_4261_154_',
 'sl_23894580': '1103_4261_154_',
 'sl_23894581': '1103_4261_154_',
 'sl_23894582': '1103_4261_154_',
 'sl_23894583': '1103_4261_154_',
 'sl_23894584': '1103_4261_154_',
 'sl_23894585': '1103_4261_154_',
 'sl_23894586': '1103_4261_154_',
 'sl_23894587': '1103_4261_154_',
 'sl_23894588': '1103_4261_154_',
 'sl_23894589': '1103_4261_154_',
 'sl_23894590': '1103_4261_154_',
 'sl_23894591': '1103_4261_154_',
 'sl_23894592': '1103_4261_154_',
 'sl_23894593': '1103_4261_154_',
 'sl_23894594': '3366_1103_154_',
 'sl_23894595': '3366_1103_154_',
 'sl_23894596': '3366_1103_154_',
 'sl_23894599': '1103_3366_154_',
 'sl_23894600': '1103_3366_154_',
 'sl_23894601': '1103_3366_154_',
 'sl_23894602': '1103_3366_154_',
 'sl_23894603': '1103_3366_154_',
 'sl_23894604': '1103_3366_4261_',
 'sl_23894605': '1103_3366_154_',
 'sl_23894607': '1103_4261_154_',
 'sl_23894608': '1103_4261_154_',
 'sl_23894609': '1103_4261_154_',
 'sl_23894610': '1103_4261_154_',
 'sl_23894611': '1103_4261_154_',
 'sl_23894613': '1103_3366_154_',
 'sl_23894614': '3366_1103_154_',
 'sl_23894615': '3366_1103_154_',
 'sl_23894616': '1103_4261_3679_',
 'sl_23894617': '3366_1103_154_',
 'sl_23894618': '3366_1103_154_',
 'sl_23894619': '3366_1103_154_',
 'sl_23894620': '3366_1103_154_',
 'sl_23894621': '3366_1103_154_',
 'sl_23894622': '3366_1103_154_',
 'sl_23894623': '3366_1103_154_',
 'sl_23894624': '3366_1103_154_',
 'sl_23894625': '1103_3366_154_',
 'sl_23894626': '1103_3366_154_',
 'sl_23894628': '3366_5111_154_',
 'sl_23894629': '3366_5111_154_',
 'sl_23894630': '1103_4261_3366_',
 'sl_23894631': '3366_1103_154_',
 'sl_23894632': '1103_4261_154_',
 'sl_23894633': '1103_4261_154_',
 'sl_23894634': '3366_1103_5111_',
 'sl_23894635': '3366_1103_5111_',
 'sl_23894636': '1103_4261_154_',
 'sl_23894637': '1103_4261_154_',
 'sl_23894638': '3366_1103_154_',
 'sl_23894639': '3366_1103_154_',
 'sl_23894640': '3366_1103_154_',
 'sl_23894641': '3366_1103_154_',
 'sl_23894642': '3366_1103_154_',
 'sl_23894643': '1103_4261_3679_',
 'sl_23894644': '3366_1103_154_',
 'sl_23894645': '3366_1103_154_',
 'sl_23894646': '1103_3366_154_',
 'sl_23894647': '1103_3366_154_',
 'sl_23894648': '1103_3366_154_',
 'sl_23894649': '1103_3366_154_',
 'sl_23894650': '1103_3366_154_',
 'sl_23894651': '1103_3366_154_',
 'sl_23894652': '1103_3366_154_',
 'sl_23894654': '1103_4261_3679_',
 'sl_23894657': '1103_4261_154_',
 'sl_23894659': '1103_4261_3679_',
 'sl_23894660': '3679_1103_4261_',
 'sl_23894661': '1103_4261_3679_',
 'sl_23894662': '1103_4261_3679_',
 'sl_23894663': '1103_4261_3679_',
 'sl_23894664': '1103_4261_3679_',
 'sl_23894665': '1103_3679_4261_',
 'sl_23894666': '1103_4261_3679_',
 'sl_23894667': '1103_4261_3679_',
 'sl_23894668': '3366_1103_154_',
 'sl_23894669': '3366_1103_154_',
 'sl_23894670': '3366_1103_154_',
 'sl_23894671': '3366_1103_154_',
 'sl_23894672': '3366_1103_154_',
 'sl_23894673': '1103_4261_3679_',
 'sl_23894674': '1103_4261_3679_',
 'sl_23894675': '1103_3366_154_',
 'sl_23894676': '1103_3366_154_',
 'sl_23894677': '1103_3366_154_',
 'sl_23894678': '1103_3366_154_',
 'sl_23894679': '1103_3366_154_',
 'sl_23894680': '1103_3366_154_',
 'sl_23894681': '1103_3366_154_',
 'sl_23894682': '1103_3366_154_',
 'sl_23894683': '1103_3366_154_',
 'sl_23894684': '1103_3366_154_',
 'sl_23894685': '3366_1103_154_',
 'sl_23894689': '3366_1103_154_',
 'sl_23894692': '3366_1103_154_',
 'sl_23894693': '1103_3366_154_',
 'sl_23894704': '1103_3366_154_',
 'sl_23894705': '1103_3366_154_',
 'sl_23894706': '3366_1103_154_',
 'sl_23894708': '1103_4261_154_',
 'sl_23894709': '1103_4261_154_',
 'sl_23894710': '1103_3366_4261_',
 'sl_23894711': '3366_1103_154_',
 'sl_23894712': '3366_1103_154_',
 'sl_23894713': '1103_3366_154_',
 'sl_23894714': '1103_3366_154_',
 'sl_23894715': '1103_4261_154_',
 'sl_23894716': '1103_4261_154_',
 'sl_23894717': '1103_4261_154_',
 'sl_23894718': '3366_5111_1103_',
 'sl_23894719': '1103_3366_154_',
 'sl_23894720': '3366_1103_154_',
 'sl_23894721': '1103_3366_154_',
 'sl_23894724': '1103_4261_154_',
 'sl_23894725': '1103_4261_3679_',
 'sl_23894726': '1103_4261_3679_',
 'sl_23894727': '1103_4261_3679_',
 'sl_23894728': '1103_4261_3679_',
 'sl_23894729': '1103_4261_154_',
 'sl_23894730': '1103_4261_154_',
 'sl_23894731': '1103_4261_154_',
 'sl_23894732': '1103_4261_154_',
 'sl_23894749': '1103_4261_3679_',
 'sl_23894750': '1103_4261_3679_',
 'sl_23894751': '1103_4261_3679_',
 'sl_23894774': '3366_1103_154_',
 'sl_23894799': '1103_3366_154_',
 'sl_23894800': '1103_3366_154_',
 'sl_23894801': '1103_3366_154_',
 'sl_23894802': '1103_3366_154_',
 'sl_23894803': '1103_3366_154_',
 'sl_23894804': '3366_1103_154_',
 'sl_23894805': '1103_4261_154_',
 'sl_23894807': '1103_3366_154_',
 'sl_23894808': '1103_3366_154_',
 'sl_23894809': '1103_3366_154_',
 'sl_23894810': '3366_1103_154_',
 'sl_23894813': '1103_3366_154_',
 'sl_23894818': '3679_1103_4261_',
 'sl_23894819': '1103_4261_154_',
 'sl_23894820': '1103_3366_154_',
 'sl_23894821': '1103_3366_154_',
 'sl_23894822': '1103_3366_154_',
 'sl_23894823': '1103_3366_154_',
 'sl_23894824': '1103_3366_154_',
 'sl_23894826': '1103_3366_154_',
 'sl_23894827': '1103_3366_154_',
 'sl_23894828': '1103_3366_154_',
 'sl_23894829': '1103_3366_154_',
 'sl_23894830': '1103_3366_154_',
 'sl_23894831': '1103_3366_154_',
 'sl_23894832': '1103_3366_154_',
 'sl_23894833': '1103_3366_154_',
 'sl_23894834': '1103_154_3366_',
 'sl_23894835': '1103_154_3366_',
 'sl_23894836': '1103_4261_154_',
 'sl_23894837': '1103_4261_154_',
 'sl_23894838': '1103_4261_154_',
 'sl_23894839': '1103_4261_3679_',
 'sl_23894840': '1103_4261_3679_',
 'sl_23894841': '1103_4261_154_',
 'sl_23894842': '1103_4261_154_',
 'sl_23894843': '1103_4261_154_',
 'sl_23894844': '1103_4261_154_',
 'sl_23894845': '1103_4261_154_',
 'sl_23894846': '1103_4261_154_',
 'sl_23894847': '1103_4261_154_',
 'sl_23894848': '1103_4261_154_',
 'sl_23894849': '1103_4261_154_',
 'sl_23894850': '1103_4261_154_',
 'sl_23894851': '1103_4261_154_',
 'sl_23894852': '1103_4261_154_',
 'sl_23894853': '1103_4261_154_',
 'sl_23894854': '1103_4261_154_',
 'sl_23894855': '1103_4261_154_',
 'sl_23894856': '1103_4261_154_',
 'sl_23894857': '1103_4261_154_',
 'sl_23894858': '1103_4261_154_',
 'sl_23894859': '1103_4261_154_',
 'sl_23894860': '1103_4261_154_',
 'sl_23894861': '1103_4261_154_',
 'sl_23894862': '1103_3366_154_',
 'sl_23894863': '1103_4261_154_',
 'sl_23894864': '1103_4261_154_',
 'sl_23894865': '1103_4261_154_',
 'sl_23894866': '1103_4261_154_',
 'sl_23894867': '3366_1103_154_',
 'sl_23894868': '3366_1103_154_',
 'sl_23894869': '1103_3366_154_',
 'sl_23894870': '1103_3366_154_',
 'sl_23894876': '3366_1103_154_',
 'sl_23894877': '3366_1103_154_',
 'sl_23894878': '3366_1103_154_',
 'sl_23894923': '1103_4261_154_',
 'sl_23894925': '1103_3366_154_',
 'sl_23894931': '1103_4261_154_',
 'sl_23894932': '1103_3366_154_',
 'sl_23894938': '1103_3366_154_',
 'sl_23894942': '3366_1103_154_',
 'sl_23894943': '3366_1103_154_',
 'sl_23894944': '3366_1103_154_',
 'sl_23894945': '3366_1103_154_',
 'sl_23894948': '1103_3366_4261_',
 'sl_23894953': '1103_3366_154_',
 'sl_23894954': '1103_3366_154_',
 'sl_23894956': '1103_3366_154_',
 'sl_23894957': '1103_3366_154_',
 'sl_23894958': '1103_3366_154_',
 'sl_23894959': '1103_4261_154_',
 'sl_23894960': '1103_4261_154_',
 'sl_23894964': '1103_3366_154_',
 'sl_23894965': '1103_3366_154_',
 'sl_23894966': '1103_3366_154_',
 'sl_23894967': '1103_4261_154_',
 'sl_23894971': '1103_3366_154_',
 'sl_23894972': '1103_3366_154_',
 'sl_23894973': '1103_3366_154_',
 'sl_23894974': '1103_3366_154_',
 'sl_23894975': '1103_3366_154_',
 'sl_23894976': '1103_3366_154_',
 'sl_23894977': '1103_3366_154_',
 'sl_23894978': '1103_3366_154_',
 'sl_23894979': '1103_3366_154_',
 'sl_23894980': '1103_3366_154_',
 'sl_23894981': '1103_3366_154_',
 'sl_23894988': '1103_3366_4261_',
 'sl_23894990': '1103_3366_154_',
 'sl_23894992': '1103_3366_154_',
 'sl_23894993': '1103_3366_154_',
 'sl_23894994': '1103_3366_154_',
 'sl_23894995': '1103_3366_154_',
 'sl_23894997': '3679_4261_1103_',
 'sl_23894999': '1103_4261_154_',
 'sl_23895000': '1103_4261_154_',
 'sl_23895002': '1103_3366_154_',
 'sl_23895003': '1103_3366_154_',
 'sl_23895004': '1103_3366_154_',
 'sl_23895005': '1103_3366_154_',
 'sl_23895007': '1103_3366_154_',
 'sl_23895008': '1103_3366_154_',
 'sl_23895009': '1103_3366_154_',
 'sl_23895010': '1103_3366_154_',
 'sl_23895011': '1103_3366_154_',
 'sl_23895012': '1103_3366_154_',
 'sl_23895013': '1103_3366_154_',
 'sl_23895020': '1103_3366_154_',
 'sl_23895021': '1103_3366_154_',
 'sl_23895022': '1103_3366_154_',
 'sl_23895023': '1103_3366_154_',
 'sl_23895024': '1103_3366_154_',
 'sl_23895025': '1103_3366_154_',
 'sl_23895026': '1103_3366_154_',
 'sl_23895027': '1103_3366_154_',
 'sl_23895028': '1103_3366_154_',
 'sl_23895029': '1103_3366_154_',
 'sl_23895030': '1103_3366_154_',
 'sl_23895031': '1103_3366_154_',
 'sl_23895032': '1103_3366_154_',
 'sl_23895033': '1103_3366_154_',
 'sl_23895034': '1103_3366_154_',
 'sl_23895035': '1103_3366_154_',
 'sl_23895036': '1103_3366_154_',
 'sl_23895037': '1103_3366_154_',
 'sl_23895038': '1103_3366_154_',
 'sl_23895039': '1103_3366_154_',
 'sl_23895041': '1103_3366_154_',
 'sl_23895043': '1103_3366_154_',
 'sl_23895045': '1103_3366_154_',
 'sl_23895046': '1103_3366_154_',
 'sl_23895047': '1103_3366_154_',
 'sl_23895048': '1103_3366_154_',
 'sl_23895049': '1103_3366_154_',
 'sl_23895050': '1103_3366_154_',
 'sl_23895051': '1103_3366_154_',
 'sl_23895054': '1103_3366_154_',
 'sl_23895055': '1103_3366_154_',
 'sl_23895056': '1103_3366_154_',
 'sl_23895069': '1103_3366_154_',
 'sl_23895070': '1103_3366_154_',
 'sl_23895071': '1103_3366_154_',
 'sl_23895072': '1103_3366_154_',
 'sl_23895073': '1103_3366_154_',
 'sl_23895074': '1103_3366_154_',
 'sl_23895075': '1103_3366_154_',
 'sl_23895076': '1103_3366_154_',
 'sl_23895077': '1103_3366_154_',
 'sl_23895079': '1103_3366_154_',
 'sl_23895080': '1103_3366_154_',
 'sl_23895081': '1103_3366_154_',
 'sl_23895082': '1103_3366_154_',
 'sl_23895083': '1103_3366_154_',
 'sl_23895084': '1103_3366_154_',
 'sl_23895102': '1103_4261_154_',
 'sl_23895103': '1103_4261_154_',
 'sl_23895105': '1103_4261_154_',
 'sl_23895106': '1103_4261_154_',
 'sl_23895112': '1103_4261_154_',
 'sl_23895124': '1103_4261_154_',
 'sl_23895125': '1103_4261_154_',
 'sl_23895126': '1103_3366_154_',
 'sl_23895127': '3366_1103_154_',
 'sl_23895128': '3366_1103_154_',
 'sl_23895129': '3366_1103_154_',
 'sl_23895130': '3366_1103_154_',
 'sl_23895131': '1103_4261_3679_',
 'sl_23895132': '1103_4261_3679_',
 'sl_23895133': '1103_4261_154_',
 'sl_23895135': '1103_4261_154_',
 'sl_23895136': '1103_4261_154_',
 'sl_23895143': '1103_4261_154_',
 'sl_23895144': '1103_4261_154_',
 'sl_23895145': '1103_4261_154_',
 'sl_23895146': '1103_4261_154_',
 'sl_23895147': '1103_4261_154_',
 'sl_23895148': '1103_4261_154_',
 'sl_23895150': '1103_4261_154_',
 'sl_23895152': '1103_4261_154_',
 'sl_23895157': '1103_4261_154_',
 'sl_23895158': '1103_4261_154_',
 'sl_23895165': '1103_4261_154_',
 'sl_23895166': '1103_4261_154_',
 'sl_23895167': '1103_4261_154_',
 'sl_23895168': '1103_4261_154_',
 'sl_23895171': '1103_4261_154_',
 'sl_23895172': '1103_4261_154_',
 'sl_23895178': '1103_4261_154_',
 'sl_23895179': '1103_4261_154_',
 'sl_23895181': '1103_4261_154_',
 'sl_23895182': '1103_4261_154_',
 'sl_23895183': '1103_4261_154_',
 'sl_23895184': '1103_4261_154_',
 'sl_23895188': '1103_4261_154_',
 'sl_23895189': '1103_4261_154_',
 'sl_23895190': '1103_4261_154_',
 'sl_23895191': '1103_4261_154_',
 'sl_23895192': '1103_4261_154_',
 'sl_23895193': '1103_4261_154_',
 'sl_23895194': '1103_4261_154_',
 'sl_23895195': '1103_4261_154_',
 'sl_23895196': '1103_4261_154_',
 'sl_23895198': '1103_4261_154_',
 'sl_23895199': '1103_4261_154_',
 'sl_23895200': '1103_4261_154_',
 'sl_23895205': '1103_4261_154_',
 'sl_23895206': '1103_4261_154_',
 'sl_23895207': '1103_4261_154_',
 'sl_23895208': '1103_4261_154_',
 'sl_23895209': '1103_4261_154_',
 'sl_23895210': '1103_4261_154_',
 'sl_23895211': '1103_4261_154_',
 'sl_23895212': '1103_4261_154_',
 'sl_23895213': '1103_4261_154_',
 'sl_23895214': '1103_4261_154_',
 'sl_23895215': '1103_4261_154_',
 'sl_23895216': '1103_4261_154_',
 'sl_23895217': '1103_4261_154_',
 'sl_23895218': '1103_4261_154_',
 'sl_23895219': '1103_4261_154_',
 'sl_23895220': '1103_4261_154_',
 'sl_23895221': '1103_4261_154_',
 'sl_23895222': '1103_4261_154_',
 'sl_23895223': '1103_4261_154_',
 'sl_23895224': '1103_4261_154_',
 'sl_23895231': '1103_4261_154_',
 'sl_23895232': '1103_4261_154_',
 'sl_23895233': '1103_4261_154_',
 'sl_23895235': '4261_154_1103_',
 'sl_23895237': '1103_4261_154_',
 'sl_23895238': '1103_3366_154_',
 'sl_23895239': '1103_4261_154_',
 'sl_23895240': '1103_4261_154_',
 'sl_23895241': '1103_3366_154_',
 'sl_23895242': '1103_3366_154_',
 'sl_23895243': '1103_3366_154_',
 'sl_23895244': '1103_3366_154_',
 'sl_23895245': '1103_3366_154_',
 'sl_23895248': '1103_4261_154_',
 'sl_23895253': '1103_3366_154_',
 'sl_23895255': '1103_4261_3366_',
 'sl_23895256': '1103_4261_154_',
 'sl_23895257': '1103_3366_154_',
 'sl_23895258': '1103_3366_154_',
 'sl_23895259': '1103_3366_154_',
 'sl_23895263': '1103_3366_154_',
 'sl_23895264': '1103_3366_154_',
 'sl_23895265': '1103_4261_154_',
 'sl_23895266': '3366_1103_154_',
 'sl_23895267': '1103_3366_154_',
 'sl_23895269': '1103_3366_154_',
 'sl_23895270': '3366_1103_154_',
 'sl_23895271': '1103_3366_154_',
 'sl_23895272': '1103_3366_154_',
 'sl_23895273': '1103_4261_3679_',
 'sl_23895274': '1103_4261_3679_',
 'sl_23895275': '3366_1103_154_',
 'sl_23895276': '1103_3366_154_',
 'sl_23895277': '1103_4261_154_',
 'sl_23895278': '4261_154_856_',
 'sl_23895279': '3366_1103_154_',
 'sl_23895329': '1103_3366_154_',
 'sl_23895330': '1103_3366_154_',
 'sl_23895331': '1103_3366_154_',
 'sl_23895332': '1103_3366_154_',
 'sl_23895364': '7105_856_5111_',
 'sl_23895365': '7105_856_5111_',
 'sl_23895369': '1103_3366_154_',
 'sl_23895370': '1103_3366_154_',
 'sl_23895371': '1103_3366_154_',
 'sl_23895372': '1103_3366_154_',
 'sl_23895373': '3679_4261_1103_',
 'sl_23895374': '3679_4261_1103_',
 'sl_23895375': '3679_4261_1103_',
 'sl_23895376': '3679_4261_1103_',
 'sl_23895377': '1103_3366_154_',
 'sl_23895378': '3366_1103_154_',
 'sl_23895379': '3366_1103_154_',
 'sl_23895380': '3366_1103_154_',
 'sl_23895381': '3366_1103_154_',
 'sl_23895382': '3366_1103_154_',
 'sl_23895383': '3366_1103_154_',
 'sl_23895385': '3366_1103_154_',
 'sl_23895386': '3366_1103_154_',
 'sl_23895387': '3366_1103_154_',
 'sl_23895389': '3366_1103_154_',
 'sl_23895390': '3366_1103_154_',
 'sl_23895391': '3366_1103_154_',
 'sl_23895393': '3366_1103_154_',
 'sl_23895394': '3366_1103_154_',
 'sl_23895395': '3366_1103_154_',
 'sl_23895396': '4261_154_3679_',
 'sl_23895397': '4261_154_1103_',
 'sl_23895398': '3366_1103_154_',
 'sl_23895399': '3366_1103_154_',
 'sl_23895400': '3366_1103_154_',
 'sl_23895402': '3366_1103_154_',
 'sl_23895408': '1103_3366_154_',
 'sl_23895409': '1103_3366_154_',
 'sl_23895413': '3366_1103_154_',
 'sl_23895414': '3366_1103_154_',
 'sl_23895415': '1103_4261_154_',
 'sl_23895418': '1103_4261_154_',
 'sl_23895419': '1103_4261_154_',
 'sl_23895448': '1103_3366_154_',
 'sl_23895454': '1103_4261_154_',
 'sl_23895455': '1103_4261_154_',
 'sl_23895456': '3366_1103_154_',
 'sl_23895458': '3366_1103_154_',
 'sl_23895459': '3366_1103_154_',
 'sl_23895460': '3366_1103_154_',
 'sl_23895461': '3366_1103_154_',
 'sl_23895462': '3366_1103_154_',
 'sl_23895463': '3366_1103_154_',
 'sl_23895464': '1103_3366_154_',
 'sl_23895466': '3366_1103_154_',
 'sl_23895467': '3366_1103_154_',
 'sl_23895468': '1103_3366_154_',
 'sl_23895472': '3366_1103_154_',
 'sl_23895473': '1103_3366_154_',

In [93]:
def geo_f1(df_c1):
    b=len(df_c1)
    dk= (df_c1
    [df_c1["latitude"]>46]
    [df_c1["latitude"]<56]
    [df_c1["longitude"]>5]
    [df_c1["longitude"]<15]
    )
    a = list(dk.evse_id.unique())
    c= df_c1[df_c1.evse_id.isin(a)]
    d=len(c)
    #print(b,d)
    return a

In [94]:
def ab(x):
    try:
        a = dict_evseid[x]
    except:
        a = "nan"
    return a

In [95]:
dn= df.copy()
temp =geo_f1(dn)
dn=dn[dn.evse_id.isin(temp)]
dn = dn[dn["datetime_start"]>="2019-02-10"]
dn = dn[dn["datetime_start"]<="2021-08-14"]
dn = (
    dn
    .pipe(geo_filter1)
    .pipe(round_lat_long)
)
dn["wsl"] = dn.evse_id.apply(lambda x: ab(x))

2105131 2105131

In [96]:
dn.datetime_start.max()

Timestamp('2021-08-13 01:57:53')

In [97]:
dn["pws"] = dn.datetime_start.apply(lambda x: str(x)+" , ")
dn["pws"] = dn["pws"]+dn["wsl"]

In [98]:
def get_temp(x):
    ti = x.split(" , ")[0]
    ti = pd.to_datetime(ti) 
    si = x.split(" , ")[1]
    a = ["MESS_DATUM"]
    a.append(si)
    dk=dts.copy()
    dt_temp = dk[a]
    y= dt_temp[dt_temp["MESS_DATUM"]<=ti].iloc[-1].values[1]
    return y

In [99]:
dn["Temperature"] = dn.pws.apply(lambda x: get_temp(x))

In [100]:
dn1 =(dn
 [["evse_id","city"]]
.groupby(["evse_id"]).
count()
.reset_index()
.rename(columns={"city":"Count_Charging"})
)

In [101]:
pd.merge(dn,dn1,on="evse_id",how= "outer").info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105131 entries, 0 to 2105130
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   evse_id                 object
 1   datetime_start          datetime64[ns]
 2   datetime_stop           datetime64[ns]
 3   Charging_Started        int64
 4   Charging_Stop           int64
 5   city                    object
 6   park_id                 object
 7   latitude                float64
 8   longitude               float64
 9   postal_code             int64
 10  TD                      timedelta64[ns]
 11  Charging_Time_in_min    float64
 12  Charging_Time_in_hours  float64
 13  year                    int64
 14  month                   int64
 15  day                     int64
 16  day_of_week_name_Start  object
 17  Precipitation           float64
 18  wsl                     object
 19  pws                     object
 20  Temperature             float64
 21  Count_Charging          int64
dtypes: datetime64[ns](2), float64(6), int64(7), object(6), timedelta64[ns](1)
memory usage: 369.4+ MB

In [102]:
dn = dn.drop(['wsl','pws'],axis =1)

In [103]:
dn

,evse_id,datetime_start,datetime_stop,Charging_Started,Charging_Stop,city,park_id,latitude,longitude,postal_code,TD,Charging_Time_in_min,Charging_Time_in_hours,year,month,day,day_of_week_name_Start,Precipitation,Temperature
30,hj_AT*HTB*E100011,2019-02-10 10:28:53.836,2019-02-10 12:54:11.750,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 02:25:17.914000,145.283333,2.421389,2019,2,10,Sunday,0.0,5.133333
31,hj_AT*HTB*E100011,2019-02-15 08:33:09.428,2019-02-15 12:37:18.549,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 04:04:09.121000,244.150000,4.069167,2019,2,15,Friday,0.0,-2.233333
32,hj_AT*HTB*E100011,2019-02-19 14:12:56.548,2019-02-19 18:55:34.738,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 04:42:38.190000,282.633333,4.710556,2019,2,19,Tuesday,0.0,12.133333
33,hj_AT*HTB*E100011,2019-02-23 09:05:08.119,2019-02-23 14:41:49.291,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 05:36:41.172000,336.683333,5.611389,2019,2,23,Saturday,0.0,-1.133333
34,hj_AT*HTB*E100011,2019-02-25 11:32:44.019,2019-02-25 12:27:19.368,1,0,Rimsting,hj_AT*HTB*E10001,47.8772,12.3372,83253,0 days 00:54:35.349000,54.583333,0.909722,2019,2,25,Monday,0.0,7.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2911677,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:02:00.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,-1 days +20:58:04,1258.066667,20.967778,2021,8,7,Saturday,0.0,8.033333
2911678,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 16:28:29.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,-1 days +21:24:33,1284.550000,21.409167,2021,8,7,Saturday,0.0,8.033333
2911679,sl_23901984,2021-08-07 19:03:56.000,2021-08-07 19:55:30.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 00:51:34,51.566667,0.859444,2021,8,7,Saturday,0.0,8.033333
2911680,sl_23901984,2021-08-10 15:29:47.000,2021-08-10 16:57:44.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 01:27:57,87.950000,1.465833,2021,8,10,Tuesday,0.0,8.033333
2911681,sl_23901984,2021-08-11 11:21:37.000,2021-08-11 20:13:12.000,1,0,Niestetal,sl_23897386,51.3144,9.5549,34266,0 days 08:51:35,531.583333,8.859722,2021,8,11,Wednesday,0.0,8.033333

In [104]:
dn.to_pickle("Data_after_temp.pickle")